* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1,6;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;                                                                                                                            
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    background-color: #dd2121;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.cta-button:hover {
    background-color: #2737cc;  
}


div {
        display: flex;
    justify-content: space-between;
    align-items: center;                                                                                                                            
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.bi {
    font-size: 30px;
    color: #dd2121;
    margin-left: 20px;
}

.bi-youtube {
    color: red;
}

.bi-facebook {
    color: blue;
}

.bi-tiktok {
    color: black;
}

.bi:hover {
    color: #000000;
}