* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1,6;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;                                                                                                                            
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

#propiedades {
    padding: 4rem 2rem;
    max-height: 1200px;
    margin: 0 auto;
}

#propiedades h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.propiedades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.propiedad-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.propiedad-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.propiedad-card h3 {
    padding: 1rem;
    color: #333;
}

.precio {
    color: #ff6b6b;
    font-weight: bold;
    padding: o 1rem;
}

.descripcion {
    padding: .5rem 1rem;
    color: #666;
}

.propiedad-card button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.propiedad-card button:hover {
    background-color: #000;
}

span {
    padding: 1rem;
    color: #ff6b6b;
}

.bi {
    font-size: 30px;
    color: #dd2121;
    margin-left: 20px;
}

.bi-youtube {
    color: red;
}

.bi-facebook {
    color: blue;
}

.bi-tiktok {
    color: black;
}

.bi:hover {
    color: #000000;
}