* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1,6;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;                                                                                                                            
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.contendor-principal {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    padding-block: 1rem 2rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea {
    padding: .8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 150px;
    resize: vertical;
}

form button {
    background-color: #2f09b9;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #b42121;
}
    